body {
  background-color: #ff9900;
  color: #ffffff;
}

canvas {
  border: 4px solid black;
  border-radius: 5%;
  background-image: url("./grid-background.jpg");
  filter: drop-shadow(10px 10px 10px #0000007e);
}

/* shoutouts to this stack overflow post!
https://stackoverflow.com/questions/5119711/ */
.divider {
  height: 5px;
  width: 5px;
  display: inline-block;
}

.display {
  justify-content: center;
  align-items: center;
  vertical-align: center;
  display: grid;
  grid-template-areas:
    "edit-box canvas-box canvas-box canvas-box marker-box"
    "edit-box canvas-box canvas-box canvas-box marker-box"
    "sticker-box sticker-box slider-box slider-box slider-box";
}

.canvas-display {
  align-items: center;
  vertical-align: center;
  text-align: center;
}

.edit-display {
  min-height: 256px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.edit-display > button {
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ffffff;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  font-size: 30px;
  cursor: pointer;
}

.edit-display > .clear:hover {
  background-color: #ff000070;
}

.edit-display > .undo:hover {
  background-color: #fffb0075;
}

.edit-display > .redo:hover {
  background-color: #00d5ffbf;
}

.edit-display > .export:hover {
  background-color: #55ff00a7;
}

.marker-display {
  display: grid;
  text-align: right;
}

.marker-display > button {
  color: #ff9900;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-width: 4px;
  border-radius: 6px;
  padding: 1.5rem;
  font-size: 30px;
  cursor: pointer;
}

.marker-display > button:hover {
  color: #ff9900;
  background-color: #ffffffe7;
}

.marker-display > button:disabled {
  color: #ffffff;
  background-color: #ffffff3b;
  cursor: not-allowed;
}

.sticker-display {
  white-space: normal;
  align-items: center;
  vertical-align: center;
  max-width: 381px;
  padding: 20px;
}

.sticker-display > button {
  color: #ff9900;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  min-height: 80px;
  font-size: 30px;
  cursor: pointer;
}

.sticker-display > button:hover {
  color: #ff9900;
  background-color: #ffffffe7;
}

.sticker-display > button:disabled {
  color: #ffffff;
  background-color: #ffffff3b;
  cursor: not-allowed;
}

.color-preview {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #000000;
}

.slider-display {
  align-items: center;
  vertical-align: center;
  display: inline-grid;
  grid-template-areas:
    "preview-box color-box"
    "color-range-box color-range-box"
    "rotation-box rotation-box"
    "rotation-range-box rotation-range-box";
  grid-template-columns: 1fr 9fr;
  padding: 20px;
}
