.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

canvas {
  border: 4px solid black;
  border-radius: 5%;
  background-color: #ffffff;
  filter: drop-shadow(10px 10px 10px #0000007e);
}
